<a href="{{.Permalink}}">
  <div class="card">
    <div class="card-header p-0">
      {{with (.Resources.GetMatch "cover.*")}}
        <img src="{{(.Fill "1920x400").Permalink}}"
            class="card-img-top " 
            loading="lazy"
            alt="{{$.Title}}">
      {{end}}
    </div >

    <div class="card-body p-2">
      <h2 class="card-title">{{ partial "util/title.html" .}}</h2 >
      <p class="card-text">         
        <p>Pages: {{len .Pages}}</p>
          {{$words:= 0}}
        {{range .Pages}}
          {{$words = add $words .WordCount}}
        {{end}}
      <p>Words: {{$words}}</p>
      </p >
    </div >

  <hr/>
  </div >
</a>