<nav nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.BaseURL | absLangURL }}">

{{/*  optional for src   */}}
{{/*  {{ if .Param  "logo"}}
      src= "{{ site.Params.logo | relLangURL}}"
{{ else }}
      src="{{$logo.Permalink}}"
{{ end }}     */}}

{{/*  | resources.Minify }}   */}}
{{/* why Minify throw exception 
failed to transform "logo.svg" (): minifier does not exist for mimetype*/}}
      <img
{{ $logo := resources.GetMatch "image/logo.svg.tpl" 
| resources.ExecuteAsTemplate "logo.svg" "nothing" }}
      src="{{site.Params.logo | default $logo.Permalink | relLangURL  }}"

      class="card-img-top img-circle"
      alt="Home" width="125" height="60">
    </a >

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span >
    </button >

    <div class="collapse navbar-collapse"
        id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

{{with site.Menus.main }}
{{range .}}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"
          href="{{.URL}}">{{.Name}}</a >
        </li >
{{end}}
{{end}}
      </ul>
    </div>
</div>

</nav>