<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ if $.Title }}
    <title>{{$.Title}}</title> 
  {{ end }}

{{ partial "lib/index-css.html" . }}
{{ partial "util/build-scss.html" "scss/index.scss" }}
</head>

<body>
{{ block "header" . }}
  {{ partial "comps/bs-header.html" . }}
{{ end }}

{{ block "body" . }}
  <main>
    {{with .Title}}
      <h1>
        {{.}}
      </h1>
    {{end}}
    <div class="content">
      {{.Content}}
    </div>
  </main>
{{ end }}


{{ block "footer.html" . }}
 {{ partial "template/bs-footer.html" . }} 
{{ end }}

{{ partial "lib/index-js.html" . }}
{{ partial "util/build-js.html" "js/index.js" }}
</body>
</html> 