{{define "body"}} 
<main>
  <p class="display-2">{{.Content}}</p>

{{ $paginator := partial "util/pages.html" . }}

  {{/*  显示子section  */}}
{{if and (eq $paginator.PageNumber 1)
          (gt (len .Sections) 0) }}
  <h2 class="h2 text-center">Subsections</h2>
  {{ with .Sections }}
    {{ partial "components/bs-cards.html" . }}
  {{ end }}
{{ end }}

<h2 class="text-center">Posts</h2>

{{/*  pages  */}}
{{with $paginator.Pages}}
{{ partial "components/bs-cards.html" . }}
{{end}}

{{ template "_internal/pagination.html" (dict "page" . "format" "terse") }}
</main>
{{end}}

