{{ define "body" }}

  {{ partial "template/bs-cover.html" . }}

{{/*  post  */}}
  <main>
    <div class="container">
      <h1 class="single-title" >{{.Title}} </h1>
      {{ partial "template/content-info.html" . }}

      <div class="row">
        <div class="col-sm-12 col-md-10">
          {{.Content | markdownify}}
        </div>

        <div class="col-sm-0 col-md-2">

          </section>
      
{{/*  相关页面  */}}
{{ partial "template/related-pages.html" . }}     
        </div>
      </div>

    </div>

  </main>
  
{{ end }}